{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load document_dashboard_extras %}

{% block listboard_panel %}
    <a id="document_add" title="add document" class="btn btn-sm btn-default" role="button"
        href="{{ document_add_url }}?next={{ document_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Add Document
    </a>

    <a id="documents_sent" title="sent document" class="btn btn-sm btn-default" role="button"
        href="{% url sent_listboard_url %}">
            <i class="fa fa-plus fa-sm"></i> Sent Documents
    </a>

    <a id="documents_view" title="add document" class="btn btn-sm btn-default" role="button"
        href="{% url sent_document_listboard_url %}">
            <i class="fa fa-plus fa-sm"></i> Documents Sent To Me
    </a>
{% endblock listboard_panel %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Document Identifier</th>
    <th>Document Name</th>
    <th>Document</th>
    <th>Modified</th>
    <th>User</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap;">
    <div class="btn-group">

    {% edit_document_button result %}
    {% send_button result %}
    </div>
    </td>
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

    <td>{{ result.doc_identifier }} </td>
    <td nowrap>{{ result.document_name }}</td>
    <td nowrap><a href="{{ result.object.file.url }}"  target="_blank">
                    Download Document</a>
    </td>
    <td nowrap>{{ result.object.modified|date:"SHORT_DATETIME_FORMAT" }}</td>  
    <td nowrap>{{ result.user_created }}</td>

{% endblock listboard_table_columns %}
