{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load document_dashboard_extras %}

{% block listboard_panel %}
    <a id="document_add" title="add document" class="btn btn-sm btn-default" role="button"
        href="{{ document_add_url }}?next={{ document_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Add Document
    </a>

    <a id="document_add" title="add document" class="btn btn-sm btn-default" role="button"
        href="{{ document_add_url }}?next={{ document_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Documents Sent To Me
    </a>
{% endblock listboard_panel %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Document Identifier</th>
    <th>Document Name</th>
    <th>Document</th>
    <th>Modified</th>
    <th>Host</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap;">
    <div class="btn-group">

    {% edit_document_button result %}
    {% send_button result %}
    {% if result.document_model_obj %}
     <a id="btn-dashboard" class="btn btn-primary btn-sm" role="button"
     title="add_dashboard" href="{% url document_dashboard_url result.doc_identifier %}">
     <i class="fas fa-file"></i> Dashboard  <i class="fa fa-share"></i></a>
    {% endif %}
    </div>
    </td>
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

    <td>{{ result.doc_identifier }} </td>
    <td nowrap>{{ result.document_name }}</td>
    <td nowrap>{{ result.file }}</td>
    <td nowrap>{{ result.object.modified|date:"SHORT_DATETIME_FORMAT" }}</td>  
    <td nowrap>{{ result.hostname_created }}</td>

{% endblock listboard_table_columns %}
