{% extends listboard_base_template %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load document_dashboard_extras %}
{% load edc_dashboard_extras %}

{% block main %}

<div id="div-home-right" class="col-md-9">
 <!-- start listboard main block-->
 <div class="panel-group">
  <div class="panel panel-{{ listboard_panel_style }}">
   <div class="panel-heading">

    <i class="{{ listboard_fa_icon }} fa-2x"></i>

    <!-- begin search form -->
    <span class="pull-right">
      {% block listboard_search_form %}
        {% include 'edc_dashboard/search_form.html' %}
      {% endblock listboard_search_form %}
    </span>
    <!-- end search form -->

    {% block listboard_panel %}

    <a id="document_add" title="add document" class="btn btn-sm btn-default" role="button"
        href="{{ document_add_url }}?next={{ document_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Add Document
    </a>
    <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button"
        href="{% url document_url %}">
            <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a>
    {% endblock listboard_panel %}

   </div> <!--end panel heading -->

   <!-- begin table -->
   <div class="table table-responsive">
    <table class="table table-condensed table-hover small">
     <thead>

      {% block listboard_table_header %}
        <!-- begin results header -->
        <th>#</th>
        <th></th>
        <th>Document Identifier</th>
        <th>Document Name</th>
        <th>Document Type</th>
        <th>Document Form</th>
        <th>Document</th>
        <!-- end results header -->
	  {% endblock listboard_table_header %}

      </thead><tbody>

      {% block listboard_table_body %}

      {% for result in results %}
        <tr>

         <td>{{ forloop.counter }}</td>
		 {% block listboard_table_button_column %}
		   <td style="white-space: nowrap">
		   <div class="btn-group">
            {% edit_document_button result %}
            {% send_button result %}
		   </div>
		   </td>
		 {% endblock listboard_table_button_column %}

		{% block listboard_table_columns %}
        <td>{{ result.doc_identifier }} </td>
        <td nowrap>{{ result.document_name }}</td>
        <td nowrap>{{ result.document_type }}</td>
        <td nowrap>{{ result.document_form }}</td>
        <td nowrap>{% if result.document_form != 'hard_copy' %}<a href="{{ result.object.file.url }}"  target="_blank">
                        Download Document</a>{% else %} Not Downloadable {% endif %}
        </td>

		{% endblock listboard_table_columns %}
		</tr>

     {% endfor %}

    {% endblock listboard_table_body %}

    </tbody></table>

	<!-- begin spacer rows -->
	<table>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	</table>
	<!-- end spacer rows -->

   </div><!-- end table -->

{% paginator_row %}

</div>  <!--end panel -->
</div> <!--end panel-group -->
<!-- end listboard main block -->

</div>


<div id="div-home-right" class="col-md-3">

       <div class="panel panel-default">
       <div class="panel-heading">Documents</div>
        <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item disabled">Soft-Copies <span class="badge">{{ soft_copy }}</span></li>
                  <li class="list-group-item disabled">Hard-Copies <span class="badge">{{ hard_copy }}</span></li>
                  <li class="list-group-item disabled">Contracts <span class="badge">{{ contracts }}</span></li>
                  <li class="list-group-item disabled">Letters <span class="badge">{{ letters }}</span></li>
                  <li class="list-group-item disabled">Reports <span class="badge">{{ reports }}</span></li>
                </ul>
        </div>
       </div>
   </div>

{% endblock main %}
