{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load document_dashboard_extras %}

{% block listboard_panel %}
&ensp;    <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button"
    href="{% url document_url %}">
        <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a>&nbsp;&nbsp;
	All <span class="float-right badge badge-light round">{{ all }}</span> &ensp;
	Sent <span class="float-right badge badge-light round">{{ sent }}</span> &ensp;
	Received <span class="float-right badge badge-light round">{{ received }}</span> &ensp;

{% endblock listboard_panel %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Sender</th>
    <th>Send-To</th>
    <th>Reception</th>
    <th>Receptionist</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Sent-Date</th>
    <th>Courier</th>
    <th>Secondary Recep</th>
    <th>Receptionist</th>
    <th>Received By</th>
    <th>Comments</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap;">
    <div class="btn-group">

        {% if result.courier == '' %}
            {% edit_document_button result %}
        {% endif %}

        {% if request.user|has_primary_recep:"BHP HQ" %}
                {% if result.recep_received == '' %}

        <form method="post" action="{% url send_hard_copy_listboard_url %}">
              {% csrf_token %}
                  <input type="hidden" name="identifier" value="{{ result.doc_identifier }}">
                  <input type="submit" value="Receive Document" class="btn btn-warning btn-sm">
        </form>

                {% else %}
                {% edit_document_button result %}
                {% endif %}
        {% endif %}

        {% if not request.user|has_primary_recep:"BHP HQ" %}
            {% if request.user|has_secondary_recep:"Finance Reception" %}
                    {% if result.secondary_recep_received == '' %}

            <form method="post" action="{% url send_hard_copy_listboard_url %}">
                  {% csrf_token %}
                      <input type="hidden" name="identifier" value="{{ result.doc_identifier }}">
                      <input type="submit" value="Receive Document" class="btn btn-warning btn-sm">
            </form>

                    {% else %}
                    {% edit_document_button result %}
                    {% endif %}
            {% endif %}
        {% endif %}

        {% if result.secondary_recep_received != '' %}
            {% if result.object.send_to == request.user %}
                {% if result.received_by == '' %}
                <form method="post" action="{% url send_hard_copy_listboard_url %}">
                      {% csrf_token %}
                          <input type="hidden" name="identifier" value="{{ result.doc_identifier }}">
                          <input type="submit" value="Receive Document" class="btn btn-warning btn-sm">
                </form>
                {% else %}
                    {% edit_document_button result %}
                {%endif  %}

            {% endif %}
        {% endif %}

    </div>
    </td>
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

    <td nowrap>{{ result.user_created }}</td>
    <td nowrap>{% if result.object.send_to %}
        {{result.object.send_to}} {% else %} - - - - {% endif %}</td>
    <td nowrap>{{ result.object.reception }}</td>
    <td nowrap>{{ result.recep_received }}</td>
    <td nowrap>{{ result.status }}</td>
    <td nowrap>{{ result.priority }}</td>
    <td nowrap>{{ result.sent_date }}</td>
    <td nowrap>{{ result.object.courier }}</td>
    <td nowrap>{{ result.object.secondary_recep }}</td>
    <td nowrap>{{ result.object.secondary_recep_received }}</td>
    <td nowrap>{{ result.object.received_by }}</td>
    <td nowrap>{{ result.comment }}</td>

{% endblock listboard_table_columns %}
