{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load document_dashboard_extras %}

{% block listboard_panel %}
    &ensp;
	Overall Documents <span class="float-right badge badge-light round">{{ all }}</span> &ensp;
	Sent <span class="float-right badge badge-light round">{{ sent }}</span> &ensp;

{% endblock listboard_panel %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Document Identifier</th>
    <th>Sender</th>
    <th>Send-To</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Sent-Date</th>
    <th>Final Destination</th>
    <th>Receiver At Destination</th>
    <th>Comment</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap;">
    <div class="btn-group">

     {% edit_document_button result %}

     {% forward_document_button result %}

     <a id="btn-dashboard" class="btn btn-primary btn-sm" role="button"
     title="add_dashboard" href="{% url document_dashboard_url result.doc_identifier %}">
     <i class="fas fa-file"></i> Dashboard  <i class="fa fa-share"></i></a>

    </div>
    </td>
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

    <td>{{ result.doc_identifier }} </td>
    <td nowrap>{{ result.user_created }}</td>
    <td nowrap>{% if result.object.get_sent_to %}
        {{result.object.get_sent_to}} {% else %} - - - - {% endif %}</td>
    <td nowrap>{{ result.status }}</td>
    <td nowrap>{{ result.action_priority }}</td>
    <td nowrap>{{ result.action_date }}</td>
    <td nowrap><center>{% if result.object.get_final_dest %}
        {{result.object.get_final_dest}} {% else %} - - - - {% endif %}</center></td>
    <td nowrap><center>{% if result.object.get_final_dest_rec %}
        {{result.object.get_final_dest_rec}} {% else %} - - - - {% endif %}</center></td>
    <td nowrap>{{ result.comment }}</td>

{% endblock listboard_table_columns %}
