{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load document_dashboard_extras %}

{% block listboard_panel %}
    &ensp;
	Overall Documents <span class="float-right badge badge-light round">24</span> &ensp;
	Sent <span class="float-right badge badge-light round">0</span> &ensp;
	Received <span class="float-right badge badge-light round">0</span> &ensp;
	Processed <span class="float-right badge badge-light round">0</span> &ensp;
	Pending/Processing <span class="float-right badge badge-light round">1</span> &ensp;

{% endblock listboard_panel %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Document Identifier</th>
    <th>Sender</th>
    <th>Department</th>
    <th>Receiving Personnel</th>
    <th>Status</th>
    <th>Action-Priority</th>
    <th>Comment</th>
    <th>Action-Date</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap;">
    <div class="btn-group">

    {% edit_document_button result %}

     <a id="btn-document" class="btn btn-success btn-sm" role="button"
	 title="forward_document" href="{{document.href }}">
     <i class="fa fa-share"></i> Forward Document </a>

     <a id="btn-dashboard" class="btn btn-primary btn-sm" role="button"
     title="add_dashboard" href="{% url document_dashboard_url result.doc_identifier %}">
     <i class="fas fa-file"></i> Dashboard  <i class="fa fa-share"></i></a>

    </div>
    </td>
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

    <td>{{ result.doc_identifier }} </td>
    <td nowrap>{{ result.user_created }}</td>
    <td nowrap>{{ result.object.department.dept_name }}</td>
    <td nowrap>{{ result.object.send_to }}</td>
    <td nowrap>{{ result.status }}</td>
    <td nowrap>{{ result.action_priority }}</td>
    <td nowrap>{{ result.comment }}</td>
    <td nowrap>{{ result.action_date }}</td>

{% endblock listboard_table_columns %}
